<mat-card>
  <form [formGroup]="profileForm">
    <mat-form-field>
      <input matInput placeholder="first name" formControlName="firstName">
    </mat-form-field>

    <br>
    <mat-form-field>
      <input matInput placeholder="last name" formControlName="lastName">
    </mat-form-field>

    <div formGroupName="address">
      <mat-form-field>
        <input matInput placeholder="street" formControlName="street">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="city" formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="state" formControlName="state">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="zip" formControlName="zip">
      </mat-form-field>
    </div>
  </form>

</mat-card>

<pre>
<h2>debug:</h2>
<strong>profileForm.value </strong>{{ profileForm.value | json }}
</pre>

<pre *ngFor="let ctrl of controlsKeysToList(profileForm)">
<strong>profileForm.controls.{{ ctrl.__super_private_debug_name_okay }}</strong> {{ formControlToJSON(ctrl) | json }}
</pre>
